<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="com.yedamMiddle.coupon.mapper.CouponMapper">

<!-- 신규유저 회원가입시 쿠폰 발급 -->
<insert id="newUserCouponInsert" parameterType="int">
	INSERT INTO COUPON VALUES(seq_coupon.nextval,#{userNo}, '신규유저 가입축하쿠폰', '30', TRUNC(SYSDATE+30),'미사용')
</insert>

<!-- 유저번호로 애완동물 정보 찾기 -->
<select id="selectPetByUserNo" resultType="com.yedamMiddle.common.service.PetVO"
								parameterType="int">
	SELECT* FROM PET WHERE USER_NO=#{userNo}
</select>

<!-- 	해당 유저번호로 가지고 있는 쿠폰 찾기 -->
<select id="selectCouponByUserNo" resultType="com.yedamMiddle.coupon.service.CouponVO"
									parameterType="int">
	SELECT COUPON_NAME FROM COUPON WHERE USER_NO=#{userNo} AND COUPON_NAME='생일축하쿠폰'						
</select>


<!--유저 반려동물 생일축하쿠폰 발급 -->
<insert id="userBirthCouponInsert" parameterType="com.yedamMiddle.coupon.service.CouponVO">
	INSERT INTO COUPON VALUES(seq_coupon.nextval,#{userNo}, '생일축하쿠폰', '20', TRUNC(SYSDATE+7),'미사용')
</insert>

<!-- 기존 유저 로그인 시 쿠폰만료 -->
<update id="userExpireCouponUpdate">
	UPDATE COUPON SET coupon_state = '기간만료'
	WHERE coupon_no IN (SELECT coupon_no FROM COUPON <![CDATA[WHERE end_date < TRUNC(SYSDATE)]]>)
</update>

<!-- 결제창에서 쿠폰 사용 시 쿠폰 사용완료처리 -->
<update id="userUseCoupon" parameterType="com.yedamMiddle.coupon.service.CouponVO">
	UPDATE COUPON SET coupon_state = '사용완료'
	WHERE coupon_no=#{couponNo}
</update>

<!-- 마이페이지에서 현재 가지고 있는 쿠폰 보기 -->
<select id="userCouponSelect" resultType="com.yedamMiddle.coupon.service.CouponVO"
								parameterType="int">
	SELECT * from COUPON where USER_NO=#{userNo}				
</select>

<!-- 마이페이지에서 현재 가지고 있는 쿠폰 보기 -->
<select id="selectNotUseCoupon" resultType="com.yedamMiddle.coupon.service.CouponVO"
								parameterType="int">
	SELECT * from COUPON where USER_NO=#{userNo} AND COUPON_STATE = '미사용'				
</select>



</mapper>
