<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="com.yedamMiddle.myPage.mapper.MyPageMapper">

	<select id="endCouponList" parameterType="int" resultType="com.yedamMiddle.coupon.service.CouponVO">
		<![CDATA[
		SELECT * FROM (SELECT * FROM COUPON 
                   	WHERE USER_NO=#{userNo} AND 
                    END_DATE-SYSDATE<=7 AND 
                    COUPON_STATE='사용전' 
                    ORDER BY END_DATE, COUPON_STATE)
		WHERE ROWNUM <=3
		]]>
	</select>
	
	<select id="couponList" parameterType="int" resultType="com.yedamMiddle.coupon.service.CouponVO">
		SELECT * FROM COUPON WHERE USER_NO=#{userNo} ORDER BY END_DATE, COUPON_STATE
	</select>
	
	<select id="recentQnaList" parameterType="int" resultType="com.yedamMiddle.userQna.service.UserQnaVO">
		<![CDATA[
		select * from (select * from userqna 
                    where user_no=0 
                    and qna_state = 0
                    order by regist_date)
		where rownum <=3
		]]>
	</select>
	
	<select id="qnaList" parameterType="int" resultType="com.yedamMiddle.userQna.service.UserQnaVO">
		SELECT * FROM USERQNA WHERE USER_NO=#{userNo} ORDER BY REGIST_DATE DESC
	</select>
	
	<update id="updateUser" parameterType="com.yedamMiddle.common.service.UserVO">
		update user_tbl set user_pw=#{userPw}, user_birth=#{userBirth}, user_mail = #{userMail}, user_phone= #{userPhone}, user_addr= #{userAddr} where user_id=#{userId}
	</update>

	<select id="orderList" parameterType="int" resultType="com.yedamMiddle.product.service.ProductOrderJoinVO">
		<![CDATA[
		SELECT A.*, B.REVIEW_NO
    			FROM (
        			SELECT A.MER_UID, B.PRODUCT_NAME,B.PRODUCT_PRICE, COUNT(*) AS BUY_CNT, B.PRODUCT_NO, A.ORDER_DATE
            		FROM product_order A
            		JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
            		WHERE A.USER_NO = #{userNo}
            		GROUP BY A.MER_UID, B.PRODUCT_NAME, B.PRODUCT_NO, A.ORDER_DATE, B.PRODUCT_PRICE
            		ORDER BY A.ORDER_DATE DESC
    			) A
    			LEFT JOIN REVIEW B ON A.MER_UID = B.MER_UID AND A.PRODUCT_NO = B.PRODUCT_NO
    			where rownum<=3
                ORDER BY A.ORDER_DATE DESC
        ]]>
	</select> 
	
	<select id="recentReviewList" parameterType="int" resultType="com.yedamMiddle.review.service.ReviewVO">
		<![CDATA[
		SELECT P.PRODUCT_NAME, R.* 
   		FROM (SELECT * FROM REVIEW WHERE USER_NO=#{userNo}) R
    	JOIN PRODUCT P ON P.PRODUCT_NO = R.PRODUCT_NO
    	WHERE ROWNUM <=3
    	ORDER BY R.REVIEW_DATE DESC
		]]>
	</select>
	
	<select id="reviewList" parameterType="int" resultType="com.yedamMiddle.review.service.ReviewVO">
		SELECT P.PRODUCT_NAME, R.* 
   		FROM (SELECT * FROM REVIEW WHERE USER_NO=#{userNo}) R
    	JOIN PRODUCT P ON P.PRODUCT_NO = R.PRODUCT_NO
    	ORDER BY R.REVIEW_DATE DESC
	</select>
	

</mapper>