<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="com.yedamMiddle.admin.mapper.AdminMapper">
	
	<select id="userList" resultType="com.yedamMiddle.common.service.UserVO">
		SELECT * FROM USER_TBL ORDER BY USER_NO
	</select>
	
	<select id = "prodList" resultType="com.yedamMiddle.product.service.ProductVO">
		SELECT * FROM PRODUCT ORDER BY PRODUCT_NO DESC
	</select>
	
	<select id = "prodSelect" resultType="com.yedamMiddle.product.service.ProductVO" parameterType="int">
		SELECT * FROM PRODUCT WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<insert id = "prodInsert" parameterType="com.yedamMiddle.product.service.ProductVO">
		INSERT INTO PRODUCT VALUES(productno.nextVAL, #{petType}, #{categoryNo}, #{productName},
		#{productPrice}, #{productDesc}, #{productImage}, SYSDATE, #{productStock})
	</insert>
	
	<update id="prodUpdate" parameterType="com.yedamMiddle.product.service.ProductVO">
		UPDATE PRODUCT SET CATEGORY_NO=#{categoryNo}, 
		PRODUCT_PRICE=#{productPrice}, PRODUCT_DESC=#{productDesc}, 
		PRODUCT_STOCK=#{productStock} 
		WHERE PRODUCT_NO=#{productNo}
	</update>
	
	<delete id="prodDelete" parameterType="int">
		DELETE FROM PRODUCT WHERE PRODUCT_NO=#{productNo}
	</delete>
	
	<select id="cateName" parameterType="int" resultType="String">
		SELECT C.CATEGORY_NAME FROM PRODUCT P JOIN CATEGORY C 
		ON C.CATEGORY_NO=P.CATEGORY_NO
		WHERE P.PRODUCT_NO=#{productNo} 
	</select>
	
	<select id="getJoinCateList" resultType="com.yedamMiddle.common.service.CategoryJoinVO">
		SELECT C2. CATEGORY_NO MAIN_CATE_NO, C2.CATEGORY_NAME MAIN_CATE_NAME, 
		C1.CATEGORY_NO SUB_CATE_NO, C1.CATEGORY_NAME SUB_CATE_NAME 
		FROM CATEGORY C1 INNER JOIN CATEGORY C2 ON C1.CATEGORY_PRENO = C2.CATEGORY_NO ORDER BY MAIN_CATE_NO, SUB_CATE_NO
	</select>
	
	<insert id = "mainCateInsert" parameterType="String">
		INSERT INTO CATEGORY VALUES(seq_category_no.NEXTVAL, #{categoryName}, NULL)
	</insert>
	
	<insert id = "subCateInsert">
		INSERT INTO CATEGORY VALUES(seq_category_no.NEXTVAL, #{subName},  (
 		select category_no from category where category_name=#{preName}) )
	</insert>
	<select id="productOrder" parameterType="com.yedamMiddle.product.service.ProductOrderVO">
		select * from product_order
	</select>
	<select id="getSalesRate" resultType="com.yedamMiddle.admin.service.SalesRateVO">
		SELECT B.PRODUCT_NAME, COUNT(*) AS SELL_CNT
    	FROM PRODUCT_ORDER A
   	 	JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
   	 	GROUP BY PRODUCT_NAME
   	 	ORDER BY SELL_CNT DESC
	</select>

</mapper>