<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="com.yedamMiddle.admin.mapper.AdminMapper">
	
	<select id="userList" resultType="com.yedamMiddle.common.service.UserVO">
		SELECT * FROM USER_TBL ORDER BY USER_NO
	</select>
	
	<select id = "prodList" resultType="com.yedamMiddle.product.service.ProductVO">
		SELECT * FROM PRODUCT ORDER BY PRODUCT_NO DESC
	</select>
	
	<select id = "prodSelect" resultType="com.yedamMiddle.product.service.ProductVO" parameterType="int">
		SELECT * FROM PRODUCT WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<insert id = "prodInsert" parameterType="com.yedamMiddle.product.service.ProductVO">
		INSERT INTO PRODUCT VALUES(productno.nextVAL, #{petType}, #{categoryNo}, #{productName},
		#{productPrice}, #{productDesc}, #{productImage}, SYSDATE, #{productStock})
	</insert>
	
	<update id="prodUpdate" parameterType="com.yedamMiddle.product.service.ProductVO">
		UPDATE PRODUCT SET CATEGORY_NO=#{categoryNo}, 
		PRODUCT_PRICE=#{productPrice}, PRODUCT_DESC=#{productDesc}, 
		PRODUCT_STOCK=#{productStock} 
		WHERE PRODUCT_NO=#{productNo}
	</update>
	
	<delete id="prodDelete" parameterType="int">
		DELETE FROM PRODUCT WHERE PRODUCT_NO=#{productNo}
	</delete>
	
	<select id="cateName" parameterType="int" resultType="String">
		SELECT C.CATEGORY_NAME FROM PRODUCT P JOIN CATEGORY C 
		ON C.CATEGORY_NO=P.CATEGORY_NO
		WHERE P.PRODUCT_NO=#{productNo} 
	</select>
</mapper>