<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="com.yedamMiddle.admin.mapper.AdminMapper">
	
	<select id="userList" resultType="com.yedamMiddle.common.service.UserVO">
		SELECT * FROM USER_TBL ORDER BY USER_NO
	</select>
	
	<select id = "prodList" resultType="com.yedamMiddle.product.service.ProductVO">
		SELECT * FROM PRODUCT ORDER BY CATEGORY_NO DESC
	</select>
	
	<insert id = "insert" parameterType="com.yedamMiddle.product.service.ProductVO">
		INSERT INTO PRODUCT VALUES(productno.nextVAL, #{petType}, #{categoryNo}, #{productName},
		#{productPrice}, #{productDesc}, #{productImage}, SYSDATE, #{productStock})
	</insert>
</mapper>