<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="com.yedamMiddle.product.mapper.ProductMapper">
	<select id="getCategoryList" resultType="com.yedamMiddle.common.service.CategoryJoinVO">
		SELECT A.CATEGORY_NO AS MAIN_CATE_NO, A.CATEGORY_NAME AS MAIN_CATE_NAME, B.CATEGORY_NO AS SUB_CATE_NO, B.CATEGORY_NAME AS SUB_CATE_NAME
    		FROM CATEGORY A
    		JOIN CATEGORY B ON A.CATEGORY_NO = B.CATEGORY_PRENO
	</select>
	<select id="getCategoryInfo" resultType="com.yedamMiddle.common.service.CategoryVO" parameterType="int">
		SELECT *
			FROM CATEGORY
			WHERE CATEGORY_NO = #{categoryNo}
	</select>
	<select id="searchProductList" resultType="com.yedamMiddle.product.service.ProductReviewJoinVO">
		    SELECT * FROM (
        		SELECT /*+ INDEX(P PK_PRODUCTNO) */ ROWNUM rn, T.* FROM (
                	SELECT B.*, A.AVG_STAR, REVIEW_CNT
                    	FROM (
                        	SELECT P.PRODUCT_NO, NVL2(TRUNC(AVG(STAR_CNT),1),TRUNC(AVG(STAR_CNT),1),0.0) AS AVG_STAR, COUNT(STAR_CNT) AS REVIEW_CNT
                            	FROM PRODUCT P
                            	LEFT JOIN REVIEW D ON P.PRODUCT_NO = D.PRODUCT_NO
                            	GROUP BY P.PRODUCT_NO
                    	) A
                    	JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
                	) T
                	WHERE T.PET_TYPE = #{type} AND T.PRODUCT_NAME LIKE '%' || #{query} || '%'
            	) A
            <![CDATA[ 
            	WHERE RN > (#{page}-1) * 8 AND RN <= (#{page}) * 8
  			]]>
	</select>
	
	<select id="productDetail" resultType="com.yedamMiddle.product.service.ProductVO">
		SELECT * FROM PRODUCT WHERE PRODUCT_NO = #{productNo}
	</select>
	<select id="productList" resultType="com.yedamMiddle.product.service.ProductVO">
		SELECT * FROM PRODUCT
	</select>

	<select id="searchCategory" resultType="com.yedamMiddle.product.service.ProductReviewJoinVO">
		<![CDATA[
			SELECT A.* FROM (
        		SELECT /*+ INDEX(P PK_PRODUCTNO) */ ROWNUM rn, T.* FROM (
                	SELECT B.*, A.AVG_STAR, REVIEW_CNT
                    	FROM (
                        	SELECT P.PRODUCT_NO, NVL2(TRUNC(AVG(STAR_CNT),1),TRUNC(AVG(STAR_CNT),1),0.0) AS AVG_STAR, COUNT(STAR_CNT) AS REVIEW_CNT
                            	FROM PRODUCT P
                            	LEFT JOIN REVIEW D ON P.PRODUCT_NO = D.PRODUCT_NO
                            	GROUP BY P.PRODUCT_NO
                    	) A
                    	JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
                	) T
                	WHERE T.PET_TYPE = #{type} AND T.CATEGORY_NO = #{categoryNo}
            	) A
            	WHERE RN > (#{page}-1) * 8 AND RN <= (#{page}) * 8
  			]]>
	</select>
	
	<select id="searchCategoryCount" resultType="int">
		SELECT COUNT(*) AS COUNT
    		FROM PRODUCT 
    		WHERE CATEGORY_NO = #{categoryNo} AND PET_TYPE = #{type}
	</select>
	
	<select id="searchProductListCount" resultType="int">
		SELECT COUNT(*) AS COUNT
			FROM PRODUCT 
			WHERE PET_TYPE = #{type} AND PRODUCT_NAME LIKE '%' || #{query} || '%'
	</select>
	
	<!-- MyCart불러오기. (테스트위해서 임시추가 삭제예정!) -->
	<select id="selectCartList" resultType="com.yedamMiddle.common.service.CartJoinVO" parameterType="int">
		SELECT A.CART_NO AS CART_NO, C.PRODUCT_NAME AS PRODUCT_NAME, C.PRODUCT_PRICE AS PRODUCT_PRICE, A.SELECT_CNT AS SEL_CNT, A.PRODUCT_NO AS PRODUCT_NO
    		FROM MY_CART A
    		JOIN USER_TBL B ON A.MEMBER_NO = B.USER_NO
    		JOIN PRODUCT C ON A.PRODUCT_NO = C.PRODUCT_NO
    		WHERE B.USER_NO = #{userNo}
	</select>
	
	<select id="selectApiInfo" resultType="com.yedamMiddle.common.ApiInfoVO" parameterType="String">
		SELECT *
			FROM APIINFO
			WHERE API_NAME = #{apiName}
	</select>
	
	<insert id="insertProductOrder" parameterType="com.yedamMiddle.product.service.ProductOrderVO">
		INSERT INTO PRODUCT_ORDER VALUES(seq_productorderno.NEXTVAL,#{productNo},#{userNo},#{couponNo},sysdate,#{impUid},#{merUid})
	</insert>
	
    <select id="selectProductPrice" resultType="com.yedamMiddle.product.service.ProductVO"> 
      SELECT *
    	FROM PRODUCT
    	WHERE PRODUCT_NO IN 
    	<foreach collection="array" item="arr" open="(" close=")" separator=",">
 			#{arr}
		</foreach>
    </select>
    
    <select id="selectProductOrder" resultType="com.yedamMiddle.product.service.ProductOrderVO"> 
      SELECT *
    	FROM PRODUCT_ORDER
    	WHERE PRODUCT_NO IN 
    	<foreach collection="productNos" item="arr" open="(" close=")" separator=",">
 			#{arr}
		</foreach>
		AND MER_UID = #{merUid}
		AND USER_NO = #{uNo}
    </select>
    
    <select id="selectRegistDateDescFromMain" resultType="com.yedamMiddle.product.service.ProductReviewJoinVO" parameterType="String">
		<![CDATA[  
            SELECT B.*, AVG_STAR, REVIEW_CNT
       			FROM 
           		(
               		SELECT A.PRODUCT_NO, NVL2(TRUNC(AVG(STAR_CNT),1),TRUNC(AVG(STAR_CNT),1),0.0) AS AVG_STAR, COUNT(STAR_CNT) AS REVIEW_CNT
                        FROM PRODUCT A
                        LEFT JOIN REVIEW B ON A.PRODUCT_NO = B.PRODUCT_NO
                        WHERE PET_TYPE = #{petType}
                        GROUP BY A.PRODUCT_NO, A.PRODUCT_REGIST_DATE
                        ORDER BY A.PRODUCT_REGIST_DATE DESC
           		) A
                JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
          		WHERE ROWNUM <= 4
  			]]>
	</select>
	
	<!-- 리뷰많은순 -->
	<select id="selectReviewDescFromMain" resultType="com.yedamMiddle.product.service.ProductReviewJoinVO" parameterType="String">
		<![CDATA[  
    		SELECT B.*, AVG_STAR, REVIEW_CNT
    			FROM (
        		SELECT A.PRODUCT_NO, COUNT(*) AS CNT, NVL2(TRUNC(AVG(STAR_CNT),1),TRUNC(AVG(STAR_CNT),1),0.0) AS AVG_STAR, COUNT(STAR_CNT) AS REVIEW_CNT
        			FROM PRODUCT A
        			JOIN REVIEW B ON A.PRODUCT_NO = B.PRODUCT_NO
        			WHERE A.PET_TYPE = #{petType}
        			GROUP BY A.PRODUCT_NO
        			ORDER BY CNT DESC
    			) A
    			JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
    			WHERE ROWNUM <= 4
  			]]>
	</select>
	
	<!-- 별점 높은순 -->
	<select id="selectStarCntDescFromMain" resultType="com.yedamMiddle.product.service.ProductReviewJoinVO" parameterType="String">
		<![CDATA[  
    	   SELECT B.*, AVG_STAR, REVIEW_CNT
    			FROM (
        			SELECT A.PRODUCT_NO, NVL2(TRUNC(AVG(STAR_CNT),1),TRUNC(AVG(STAR_CNT),1),0.0) AS AVG_STAR, COUNT(STAR_CNT) AS REVIEW_CNT
            		FROM PRODUCT A
            		JOIN REVIEW B ON A.PRODUCT_NO = B.PRODUCT_NO
            		WHERE A.PET_TYPE = #{petType}
            		GROUP BY A.PRODUCT_NO
            		ORDER BY AVG(B.STAR_CNT) DESC
    			) A
    			JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
    			WHERE ROWNUM <= 4
  			]]>
	</select>
	
	<update id="updateProductStock">
		update product set product_stock = product_stock-#{cnt} where product_no = #{productNo}
	</update>
	
	<!-- 결제주문내역 및 리뷰작성했는지 확인하는 쿼리. -->
	<select id="selectAllMyProductOrderList" resultType="com.yedamMiddle.product.service.ProductOrderJoinVO" parameterType="int">
		<![CDATA[  
			SELECT A.*, B.REVIEW_NO
    			FROM (
        			SELECT A.MER_UID, B.PRODUCT_NAME,B.PRODUCT_PRICE, COUNT(*) AS BUY_CNT, B.PRODUCT_NO, A.ORDER_DATE
            		FROM product_order A
            		JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
            		WHERE A.USER_NO = #{userNo}
            		GROUP BY A.MER_UID, B.PRODUCT_NAME, B.PRODUCT_NO, A.ORDER_DATE, B.PRODUCT_PRICE
            		ORDER BY A.ORDER_DATE DESC
    			) A
    			LEFT JOIN REVIEW B ON A.MER_UID = B.MER_UID AND A.PRODUCT_NO = B.PRODUCT_NO
    			ORDER BY A.ORDER_DATE DESC
  			]]>
	</select>
	
	<select id="selectRegistDateDescFromTab" resultType="com.yedamMiddle.product.service.ProductReviewJoinVO" parameterType="String">
		SELECT B.*, NVL2(AVG_STAR, AVG_STAR, 0.0) AS AVG_STAR, REVIEW_CNT
    		FROM (
        		SELECT PRODUCT_NO , TRUNC(AVG(STAR_CNT),1) AS AVG_STAR, COUNT(STAR_CNT) AS REVIEW_CNT
        		FROM REVIEW
        		GROUP BY PRODUCT_NO 
    		) A
    		RIGHT JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
    		WHERE B.PET_TYPE = #{petType}
    		ORDER BY B.PRODUCT_REGIST_DATE
	</select>
	<select id="selectBestSellProductFromTab" resultType="com.yedamMiddle.product.service.ProductReviewJoinVO" parameterType="String">
	SELECT B.*, AVG_STAR, REVIEW_CNT
    	FROM (
        	SELECT A.PRODUCT_NO,NVL2(TRUNC(AVG(STAR_CNT),1),TRUNC(AVG(STAR_CNT),1),0.0) AS AVG_STAR, CNT, COUNT(STAR_CNT) AS REVIEW_CNT
            	FROM (        
                	SELECT PRODUCT_NO, COUNT(*) AS CNT
                    	FROM PRODUCT_ORDER 
                	GROUP BY PRODUCT_NO
            	) A
            	LEFT JOIN REVIEW B ON A.PRODUCT_NO = B.PRODUCT_NO
            	GROUP BY A.PRODUCT_NO, CNT
    		) A
    	JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
    	WHERE B.PET_TYPE = #{petType}
    	ORDER BY CNT DESC
	</select>
	
	<select id="selectHighStarProductFromTab" resultType="com.yedamMiddle.product.service.ProductReviewJoinVO" parameterType="String">
		SELECT B.*, AVG_STAR, REVIEW_CNT
    		FROM (
        		SELECT PRODUCT_NO, NVL2(TRUNC(AVG(STAR_CNT),1),TRUNC(AVG(STAR_CNT),1),0.0) AS AVG_STAR, COUNT(STAR_CNT) AS REVIEW_CNT
            	FROM REVIEW
            	GROUP BY PRODUCT_NO
    		) A
    		JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
    		WHERE B.PET_TYPE = #{petType}
    		ORDER BY AVG_STAR DESC
	</select>
	
	<select id="categoryList" resultType="com.yedamMiddle.product.service.ProductVO">
		SELECT * FROM PRODUCT WHERE CATEGORY_NO=#{categoryNo} AND NOT PRODUCT_NO IN #{productNo} and pet_type=#{petType}
	</select>

</mapper>