<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="com.yedamMiddle.product.mapper.ProductMapper">
	<select id="getCategoryList" resultType="com.yedamMiddle.common.service.CategoryJoinVO">
		SELECT A.CATEGORY_NO AS MAIN_CATE_NO, A.CATEGORY_NAME AS MAIN_CATE_NAME, B.CATEGORY_NO AS SUB_CATE_NO, B.CATEGORY_NAME AS SUB_CATE_NAME
    		FROM CATEGORY A
    		JOIN CATEGORY B ON A.CATEGORY_NO = B.CATEGORY_PRENO
	</select>
	<select id="getCategoryInfo" resultType="com.yedamMiddle.common.service.CategoryVO" parameterType="int">
		SELECT *
			FROM CATEGORY
			WHERE CATEGORY_NO = #{categoryNo}
	</select>
	<select id="searchProductList" resultType="com.yedamMiddle.product.service.ProductVO">
		<![CDATA[  
    		SELECT *
    			FROM (
        			SELECT /*+ INDEX(P PK_PRODUCTNO) */ rownum rn, P.*
        			FROM PRODUCT P
        			WHERE PET_TYPE = #{type} AND PRODUCT_NAME LIKE '%' || #{query} || '%'
    			) a
    			WHERE a.rn > (#{page} - 1) * 8 
    			AND a.rn <= (#{page}) * 8
  			]]>
	</select>
	
	<select id="productDetail" resultType="com.yedamMiddle.product.service.ProductVO">
		SELECT * FROM PRODUCT WHERE PRODUCT_NO = #{productNo}
	</select>
	<select id="productList" resultType="com.yedamMiddle.product.service.ProductVO">
		SELECT * FROM PRODUCT
	</select>

	<select id="searchCategory" resultType="com.yedamMiddle.product.service.ProductVO">
		<![CDATA[  
    		SELECT *
    			FROM (
        			SELECT /*+ INDEX(P PK_PRODUCTNO) */ rownum rn, P.*
        			FROM PRODUCT P
        			WHERE P.CATEGORY_NO = #{categoryNo} AND PET_TYPE = #{type}
    			) a
    			WHERE a.rn > (#{page} - 1) * 8 
    			AND a.rn <= (#{page}) * 8
  			]]>
	</select>
	
	<select id="searchCategoryCount" resultType="int">
		SELECT COUNT(*) AS COUNT
    		FROM PRODUCT 
    		WHERE CATEGORY_NO = #{categoryNo} AND PET_TYPE = #{type}
	</select>
	
	<select id="searchProductListCount" resultType="int">
		SELECT COUNT(*) AS COUNT
			FROM PRODUCT 
			WHERE PET_TYPE = #{type} AND PRODUCT_NAME LIKE '%' || #{query} || '%'
	</select>
	
	<!-- MyCart불러오기. (테스트위해서 임시추가 삭제예정!) -->
	<select id="selectCartList" resultType="com.yedamMiddle.common.service.CartJoinVO" parameterType="int">
		SELECT A.CART_NO AS CART_NO, C.PRODUCT_NAME AS PRODUCT_NAME, C.PRODUCT_PRICE AS PRODUCT_PRICE, A.SELECT_CNT AS SEL_CNT
    		FROM MY_CART A
    		JOIN USER_TBL B ON A.MEMBER_NO = B.USER_NO
    		JOIN PRODUCT C ON A.PRODUCT_NO = C.PRODUCT_NO
    		WHERE B.USER_NO = #{userNo}
	</select>
	
</mapper>