<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="com.yedamMiddle.userQna.mapper.UserQnaMapper">

	<!-- 전체목록조회 -->
	<select id="userQnaAllList" resultType ="com.yedamMiddle.userQna.service.UserQnaVO">
		SELECT U.NICKNAME, Q.QNA_NO, Q.USER_NO, Q.PRODUCT_ORDER_NO, Q.PRODUCT_NO, Q.TITLE, Q.CONTENTS, Q.REGIST_DATE, Q.PASSWORD, Q.QNA_REPLY, Q.QNA_STATE, Q.QNA_TYPE
        FROM USER_TBL U RIGHT JOIN USERQNA Q ON U.USER_NO=Q.USER_NO ORDER BY Q.QNA_NO
	</select>
	
	
	<!-- 상세문의조회 -->
	<select id="userQnaSelect" resultType="com.yedamMiddle.userQna.service.UserQnaVO"
						parameterType="com.yedamMiddle.userQna.service.UserQnaVO">
		SELECT * FROM USERQNA WHERE QNA_NO =#{qnaNo}
	</select>
	
	
	<!-- 유저 문의글 등록 -->
	<insert id="userQnaInsert" parameterType="com.yedamMiddle.userQna.service.UserQnaVO"> 
		INSERT INTO USERQNA VALUES(
		SEQ_QNANO.NEXTVAL,
		#{userNo},
		NVL(#{productOrderNo}, #{productOrderNo, jdbcType=DOUBLE}),
		NVL(#{productNo}, #{productNo, jdbcType=DOUBLE}),
		#{title},
		#{contents},
		SYSDATE,
		NVL(#{password}, #{password, jdbcType=DOUBLE}),
		NVL(#{qnaReply}, #{qnaReply, jdbcType=VARCHAR}),
		0,
		NVL(#{qnaType}, '상품문의')
		)
	</insert>
	
	
	<!-- 유저 문의글 수정 -->
	<update id="userQnaUpdate" parameterType="com.yedamMiddle.userQna.service.UserQnaVO">
		UPDATE USERQNA SET TITLE =#{title},
						   CONTENTS =#{contents},
						   REGIST_DATE = SYSDATE
				WHERE QNA_NO =#{qnaNo}			   
	</update>
	
	
	<!-- 유저 문의글 삭제 -->
	<delete id="userQnaDelete" parameterType="com.yedamMiddle.userQna.service.UserQnaVO">
		DELETE FROM USERQNA WHERE QNA_NO =#{qnaNo}
	</delete>
	
	
	<!-- 관리자 문의답변 수정(등록) -->
	<update id="adminQnaUpdate" parameterType="com.yedamMiddle.userQna.service.UserQnaVO">
		UPDATE USERQNA SET QNA_REPLY =#{qnaReply},
						   QNA_STATE =#{qnaState}
				WHERE QNA_NO =#{qnaNo}						   
	</update>
	
	<!-- 상세문의 조회 시 글 번호로 작성자 이름 찾기 위해 user전체 내용 가져옴 -->
	<select id="qnaToSelectUser" parameterType="com.yedamMiddle.userQna.service.UserQnaVO"
								resultType="com.yedamMiddle.common.service.UserVO">
		SELECT * FROM USER_TBL WHERE USER_NO =#{userNo}
	</select>
				
	<!-- 상품 경로를 타고 들어와서 문의를 남길때 해당 상품 select해줌 -->
	<select id="productNoToSelectProduct" parameterType="com.yedamMiddle.userQna.service.UserQnaVO"
										resultType="com.yedamMiddle.product.service.ProductVO">
		SELECT * FROM PRODUCT WHERE PRODUCT_NO=#{productNo}		
	</select>
	
	<!-- 문의답변 달기 -->
	<update id="replyUpdate" parameterType="com.yedamMiddle.userQna.service.UserQnaVO">
		UPDATE USERQNA SET QNA_REPLY=#{qnaReply}, QNA_STATE=1 WHERE QNA_NO=#{qnaNo}
	
	</update>
	
	<!-- 다음 qnaNO가져오기(시퀀스) -->
	<select id="getMaxQnaNo" resultType="int">
		SELECT MAX(QNA_NO) +1 FROM USERQNA
	</select>
	
	<select id="unoToSelectUser" parameterType="int"
								resultType="com.yedamMiddle.common.service.UserVO">
		SELECT * FROM USER_TBL WHERE USER_NO =#{userNo}
	</select>
		
	<!-- 메인카테고리 -->
	<select id="getMainCategory" resultType="com.yedamMiddle.common.service.CategoryVO">
		SELECT *  FROM CATEGORY WHERE CATEGORY_PRENO IS NULL
	</select>
	
	<!-- 서브카테고리 -->
	<select id="getSubCategory" resultType="com.yedamMiddle.common.service.CategoryVO">
		SELECT *  FROM CATEGORY WHERE CATEGORY_PRENO IS NOT NULL
	</select>
	
	<select id="getCategoryNoToProductName" resultType="com.yedamMiddle.product.service.ProductVO"
											parameterType="com.yedamMiddle.common.service.CategoryVO">
		SELECT * FROM PRODUCT WHERE CATEGORY_NO=${categoryNo}								
	</select>
	
</mapper>
