<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">

	<mapper namespace="com.yedamMiddle.cart.mapper.MyCartMapper">
	<!-- 장바구니에 추가 -->
	<insert id="insert" parameterType="com.yedamMiddle.cart.service.MyCartVO">
		insert into my_cart values(seq_cart.nextval,#{memberNo},#{productNo},#{selectCnt})
	</insert>
	<!-- 장바구니에 있는 수량 변경 -->
	<update id="update">
		update my_cart set select_cnt = select_cnt+#{selectCnt} where member_no=#{memberNo} and product_no=#{productNo}
	</update>
	<!-- 장바구니에 있는지 체크 -->
	<select id="cartCheck" resultType="com.yedamMiddle.cart.service.MyCartVO">
		select product_no from my_cart where product_no=#{productNo} and member_no=#{memberNo}
	</select>
	
	<!-- 나의 장바구니 리스트 -->
	<select id="getCart" resultType="com.yedamMiddle.common.service.CartJoinVO" parameterType="int">
		SELECT C.PRODUCT_NAME AS PRODUCT_NAME, C.PRODUCT_PRICE AS PRODUCT_PRICE, sum(A.SELECT_CNT) AS SEL_CNT, A.PRODUCT_NO AS PRODUCT_NO
		FROM MY_CART A
		JOIN PRODUCT C ON A.PRODUCT_NO = C.PRODUCT_NO
		WHERE A.MEMBER_NO = #{memberNo}
		group by C.product_name, C.product_price, A.product_no
	</select>
	
	<!-- 장바구니에서 아예 삭제-->
	<delete id="deleteCart">
		delete from my_cart where product_no=#{productNo} and member_no=#{memberNo}
	</delete>
	
	<delete id="deleteCartFromPayment">
		DELETE 
    		FROM MY_CART
    		WHERE MEMBER_NO = #{uno} AND PRODUCT_NO IN 
    		<foreach collection="array" item="arr" open="(" close=")" separator=",">
 				#{arr}
			</foreach>
	</delete>
	
	<select id="getCartFromPayment" resultType="com.yedamMiddle.common.service.CartJoinVO" parameterType="int">
		SELECT C.PRODUCT_NAME AS PRODUCT_NAME, C.PRODUCT_PRICE AS PRODUCT_PRICE, sum(A.SELECT_CNT) AS SEL_CNT, A.PRODUCT_NO AS PRODUCT_NO
			FROM MY_CART A
			JOIN PRODUCT C ON A.PRODUCT_NO = C.PRODUCT_NO
			WHERE A.MEMBER_NO = #{uno} AND A.PRODUCT_NO IN
			<foreach collection="array" item="arr" open="(" close=")" separator=",">
 				#{arr}
			</foreach>
			group by C.product_name, C.product_price, A.product_no
	</select>

	</mapper>