<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">

	<mapper namespace="com.yedamMiddle.cart.mapper.MyCartMapper">
	
	<insert id="insert" parameterType="com.yedamMiddle.cart.service.MyCartVO">
		insert into my_cart values(seq_cart.nextval,#{memberNo},#{productNo},#{selectCnt})
	</insert>
	
	<select id="getCart" resultType="com.yedamMiddle.common.service.CartJoinVO" parameterType="int">
		SELECT C.PRODUCT_NAME AS PRODUCT_NAME, C.PRODUCT_PRICE AS PRODUCT_PRICE, sum(A.SELECT_CNT) AS SEL_CNT, A.PRODUCT_NO AS PRODUCT_NO
		FROM MY_CART A
		JOIN PRODUCT C ON A.PRODUCT_NO = C.PRODUCT_NO
		WHERE A.MEMBER_NO = #{memberNo}
		group by C.product_name, C.product_price, A.product_no
	</select>
	
	<select id="getCartFromPayment" resultType="com.yedamMiddle.common.service.CartJoinVO" parameterType="int">
		SELECT A.CART_NO AS CART_NO, A.MEMBER_NO AS MEMBER_NO, B.PRODUCT_PRICE AS PRODUCT_PRICE
    FROM MY_CART A
    JOIN PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
    WHERE A.MEMBER_NO = 0 AND B.PRODUCT_NO IN
    <foreach collection="array" item="arr" open="(" close=")" separator=",">
 		#{arr}
	</foreach>
	</select>
	
	</mapper>