<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="com.yedamMiddle.login.mapper.LoginMapper">
	<!-- 회원가입 -->
	<insert id="addUser" parameterType="com.yedamMiddle.common.service.UserVO">
		insert into user_tbl values(seq_userno.nextval,#{userId},#{userPw},#{nickName},#{userBirth},#{userMail},#{userPhone},'1',sysdate,#{userAddr})
	</insert>
	<!-- 로그인 -->
	<select id="userLogin" resultType="com.yedamMiddle.common.service.UserVO">
		SELECT * FROM USER_TBL WHERE USER_ID=#{userId} AND USER_PW=#{userPw}
	</select>
	<!-- 회원탈퇴 -->
	<delete id="deleteUser">
		DELETE FROM USER_TBL WHERE USER_ID=#{userId} AND USER_PW=#{userPw}
	</delete>
	
	<select id="userList" resultType="com.yedamMiddle.common.service.UserVO">
		SELECT user_id FROM USER_TBL
	</select>
	<select id="getUser" resultType="com.yedamMiddle.common.service.UserVO" parameterType="int">
		SELECT * FROM USER_TBL WHERE USER_NO=#{userNo}
	</select>
	<insert id="kakao" parameterType="com.yedamMiddle.login.service.KakaoVO">
		insert into kakao values(#{kakaoId})
	</insert>
</mapper>